*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url("../Images/Background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}
.Menu{
    display: flex;
    height: 100px;
    width: 100%;
    background: #8D9BAD;
    align-items: center;
    justify-content: center;
    gap: 800px;
}
.Menu ul{
    display: flex;
    gap: 30px;
}
li{
    list-style: none;
}
.Menu ul a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    position: relative;

    &:hover{
        color:#0f5662;
        
    }
    &::after{
        content:"";
        width: 0px;
        position: absolute;
        left: 0;
        height: 0;
        bottom: -5px;
        transition: width 0.3s ease;
    }
    &:hover::after{
        height: 2px;
        background-color: #0f5662;
        width: 100%;
    }
}

.logo img{
    width: 200px;
    height: 200px;
}
.add{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container{
    margin: 20px;
    display: flex;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-direction: column;
}

.detail{
    background-color: #8D9BAD;
    color: #0f5662;
    font-size: 20px;
    width: 750px;
    padding: 20px;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}

.buttonsDiv{
    display: flex;
}

.container button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0f5662;
}

.btns{
    display: flex;
    gap: 30px;
}

.btns button img{
    width: 30px;
    height: 30px;
}
.button img{
    width: 30px;
    height: 30px;
    color: #0f5662;
    cursor: pointer;
}
.add_btn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 20px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0f5662;
}
.add button a{
    font-size: 80px;
    color: #ffffff;
    text-decoration: none;
}
.popup{
    position: absolute;
    height: fit-content;
    width: fit-content;
    border-radius: 20px;
    left: 45%;
    top: 75%;
    background-color: #8D9BAD;
    display: none;
}

.popup_element{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.popup h4{
    margin-top: 20px;
    text-align: center;
}
.popup_element input{
    padding: 10px;
    border-radius: 30px;
    border: none;
    outline: none;
    height: 15px;
    width: 200px;
}
.popup input:hover{
    border: 1px solid #0f5662;
}

.popup button{
    color: #ffffff;
    width: 50px;
    height: 30px;
    border-radius: 20px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0f5662;
}
.close_btn {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 15px;
    width: 15px;
    cursor: pointer;
    text-decoration: none;
}